body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 96px;
    text-align: center;
}

input {
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: #bbbbbb solid 1px;
    font-size: 14px;
}

input:focus:required:invalid {
    border-bottom: red solid 1px;
}

input:focus {
    outline: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container-login {
    max-width: 250px;
    margin: 40px auto;
}

.input {
    width: 100%;
    margin: 10px auto;
}

.new-user-input {
    max-width: 25em;
    margin: 10px auto;
}

#btn-login, #btn-sign-up {
    width: 40%;
    min-width: 45px;
    margin: 10px auto;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#new-user-modal {
    display: none;
}

.modal--error {
    z-index: 2;
    display: none;
}

.modal-content {
    background-color: #FFFFFF;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 200px;
    /* Could be more or less, depending on screen size */
}

.modal-content--error {
    border: 1px solid red;
    width: 90%;
    max-width: 220px;
}

.close {
    float: right;
    font-size: 20px;
}

.modal-header {
    float: left;
    font-size: 20px;
}

#form-inputs-container {
    clear: both;
}