body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 96px;
}

input {
    border: none;
    border-bottom: #bbbbbb solid 1px;
}

input:focus {
    outline: none;
}

.container-login {
    max-width: 250px;
    margin: 40px auto;
}

.input {
    width: 100%;
    margin: 10px auto;
}

#btnLogin, #btnSignUp {
    width: 40%;
    min-width: 45px;
    margin: 10px auto;
}