body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 80px;
    text-align: center;
}

input {
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: #bbbbbb solid 1px;
    font-size: 14px;
}

input:focus:required:invalid {
    border-bottom: red solid 1px;
}

input:focus {
    outline: none;
}

.container {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 100px 1fr;
    max-width: 900px;
    margin: 0 auto;
}

.container-login {
    max-width: 250px;
    margin: 40px auto;
}

#headline {
    clear: both;
}

#content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 250px;
    max-width: 815px;
    margin: 30px auto 0;
}

.input {
    width: 100%;
    margin: 10px auto;
}

.new-user-input {
    max-width: 25em;
    margin: 10px auto;
}

#btn-login, #btn-sign-up {
    width: 40%;
    min-width: 45px;
    margin: 10px auto;
}

#btn-log-out {
    float: right;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.btn--accept, .btn--reject {
    font-size: 20px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#new-user-modal {
    display: none;
}

.modal--error {
    z-index: 4;
    display: none;
}

.modal--invite {
    z-index: 3;
    display: none;
}

.modal--invite-sent {
    z-index: 3;
    display: none;
}

.modal--score {
    z-index: 2;
    display: none;
}

.modal-content {
    background-color: #FFFFFF;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 200px;
    /* Could be more or less, depending on screen size */
}

.modal-content--error {
    border: 1px solid red;
    width: 90%;
    max-width: 220px;
}

.modal-content--invite {
    width: 95%;
    max-width: 400px;
}

.modal-content--invite-sent {
    width: 95%;
    max-width: 400px;
}

.modal-content--score {
    width: 95%;
    max-width: 400px;
}

.close {
    float: right;
    font-size: 20px;
}

.modal-header {
    float: left;
    font-size: 20px;
}

.modal-heading {
    font-size: 28px;
}

#form-inputs-container {
    clear: both;
}

#user-list-header-row {
    border-bottom: 1px solid #bbbbbb;
}

th {
    font-size: 25px;
    font-weight: bolder;
    padding: 10px 30px;
}

td {
    padding: 10px 30px;
    /*text-align: center;*/
}

#user-list {
    border: 1px solid black;
    padding: 10px;
}

.user-row:hover {
    background-color: #eeeeee;
}

#game-container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 50px 1fr;
    max-width: 815px;
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid black;
}

.game-title {
    text-align: center;
}

.img-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.rps-image {
    width: 100px;
    padding: 0 20px;
}

#rps-images {
    display: none;
}